@charset "UTF-8";
* {
font-family: Arial, Helvetica, sans-serif;
padding: 0px;
margin: 0px;
}
html, body {
    height: 100vh;
    width: 100vw;
    background-color: black;
}
body {
    
    background: url(../imagens/fundo-madeira.jpg) no-repeat top center;
    background-size: cover;
    background-attachment: fixed;
}
main {
    position: relative;
   height: 100vh;   
}
section #home {
    position: relative;
    top: 80px;
    left: 22px;
    height: 470px;
    width: 268px;
    
}
#celular {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 311px;
    height: 627px;
    transform: translate(-50%, -50%);
background: url(../imagens/frame-iphone.png) no-repeat ;
}
section#icons {
    text-align: right;
}
section#icons img {
    width: 50px;
    margin: 12px;
    border-radius: 50%;
    box-shadow: 5px 5px 9px rgba(0, 0, 0, 0.575);
    box-sizing: border-box;
}
section#icons img:hover {
    border: 2px solid rgba(255, 255, 255, 0.725);
    box-shadow: 7px 7px 10px rgba(0, 0, 0, 0.656);
    transform: translate(-10px, -10px);
    transition: transform 0.3s, border 0.5s;
}